// -----------------------------------------

//  Branding

// tweak: { "category": "Branding", "label" : "Primary Color", "title" : "tweak-branding-primary-color", "type" : "color", "target" : ".sqs-video-background" }
@tweak-branding-primary-color: #111111;

// tweak: { "category": "Branding", "label" : "Accent Color", "title" : "tweak-branding-secondary-color", "type" : "color", "target" : ".sqs-video-background" }
@tweak-branding-secondary-color: #111111;

.sqs-video-background {
  background-color: @tweak-branding-primary-color;
}

.sqs-video-background .background-video.ready {
  mix-blend-mode: multiply;
  transition: mix-blend-mode 0.3s ease;
}

.sqs-video-background.active .background-video.ready {
  mix-blend-mode: normal;
}
